:root {
  --background-color-body: rgb(240, 207, 164);
  --background-color-menu-hover: rgb(252, 195, 110);
  --background-color-footer: rgb(205,149,117);
  --background-color-price-head: rgb(233, 189, 132);
  --background-color-price-item1: rgb(230, 180, 116);
  --background-color-price-item2: rgb(240, 202, 154);
  --background-color-price-item-hover: rgb(236, 255, 168);
  --background-color-price-row-max-value: rgb(255, 68, 68);
  --background-color-price-row-min-value: rgb(68, 255, 109);
  --background-color-price-row-max-value-hover: rgb(255, 134, 134);
  --background-color-price-row-min-value-hover: rgb(153, 255, 175);
  --background-color-table-note-cell: rgb(163, 102, 102);
  --color-table-note-cell: rgb(255, 255, 255);

  --border-color-table: rgb(131, 72, 18);

  --height-footer: 3rem;
  --height-header: 3rem;
  --height-main: calc(100vh - var(--height-footer) - var(--height-header));
  --height-filter-form-container: 2rem;
  --height-table-container: calc(var(--height-main) - var(--height-filter-form-container));
} 
 
 *,
 *::before,
 *::after {
     box-sizing: border-box;
     margin: 0;
 }
 
 body {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-body);
  width: 100%;
  margin: 0;
}

main {
  height: var(--height-main);
  width: 100vw;
}

footer {
  height: var(--height-footer);
  width: 100%;
}

header {
  height: var(--height-header);
  width: 100%;
}

footer,
header {
  padding: 0.1rem;
  margin: 0;
}

footer p {
  margin: 1rem;
  text-align: center;
}

.header,
.footer {
  background-color: var(--background-color-footer);
}

footer {
  align-items: center;
}

.main-menu {
  display: block;
  background-color: var(--background-color-footer);
  font-size: 1.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.main-menu ul {
  list-style-type: none;
  margin: 0.1rem;
  padding: 0.1rem;
}

nav.main-menu li {
  display: inline-block;
}

nav.main-menu li:hover {
  background-color: var(--background-color-menu-hover);
}

nav.main-menu li a {
  text-decoration: none;
  padding: 0.1rem 1rem 0.1rem 1rem;
  color: black;
}

article ul.list-info {
  list-style-type: square;
  margin: 0;
  font-weight: bold;
}

section.main-page h1 {
  text-align: center;
  position: relative;
  margin: 1rem;
}

section.main-page {
  overflow-y: auto;
  height: 300px;
  display: block;
}

#mainpage-info {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

#filter-form-container {
  background-color: var(--background-color-body);
  top: 0;
  height: var(--height-filter-form-container);
  padding-top: .35rem;
}

#filter-form-container select, input {
  background-color: var(--background-color-body);
}

#filter-form-container * {
  margin-left: 1ex;
}

#filter-form-container :last-child {
  margin-left: 3ex;
}

#table-container {
  overflow-y: auto;
  height: var(--height-table-container);
  border: 2px solid var(--border-color-table);
  flex: 1;
}

table.price {
  width: auto;
  height: auto;
  top: 0;
  border-spacing: 0;
}

.price {
  width: 100%;
  height: 100%;
  border-collapse: separate;
  border: 0px solid var(--border-color-table);
}

.price thead, th {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0px;
  border-bottom: 2px solid var(--border-color-table);
  background-color: var(--background-color-price-head);
}

.price tfoot, tfoot td {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  bottom: 0px;
  border-top: 2px solid var(--border-color-table);
  background-color: var(--background-color-price-head);
}

.price th, td {
  padding: 3px;
  min-width: 10em;
}

.price td.table-note-cell {
  background-color: var(--background-color-table-note-cell);
  color: var(--color-table-note-cell);
}

.price th:not(:first-child), td:not(:first-child) {
  border-left: 1px solid var(--border-color-table);
}

.price tr:nth-child(even) {
  background: var(--background-color-price-item1);
}

.price tr:nth-child(odd) {
  background: var(--background-color-price-item2);
}

.price tbody tr:hover {
  background-color: var(--background-color-price-item-hover);
}

.price tr.row-max-value {
  background-color: var(--background-color-price-row-max-value);
}

.price tr.row-min-value {
  background-color: var(--background-color-price-row-min-value);
}

.price tr.row-max-value:hover {
  background-color: var(--background-color-price-row-max-value-hover);
}

.price tr.row-min-value:hover {
  background-color: var(--background-color-price-row-min-value-hover);
}
